$color-primary: #fc78b3;
$color-secondary: #ff90c0;
$color-success: #2dde57;
$color-error: #f8272f;
$color-default: #afafaf;
$color-white: #ffffff;
$color-yellow: #fbdf5a;
$color-yellow-light: #e7f3c1;

$padding-sm-default: 35px;
$padding-md-default: 80px;

$font-family: Proxima, Verdana, sans-serif;
$font-size-16: 16px;
$font-size-26: 26px;
$font-size-72: 72px;

// only for mobiles
$mobile: "only screen and (max-device-width: 540px)";
$desktop-sm: "only screen and (max-width: 1100px)";
