@import '../../styles/variables.scss';

.progress {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: $font-size-16;
	font-weight: bold;

	&__bar {
		display: flex;
		width: 100%;

		margin-top: 15px;
		padding: 3px;

		border-radius: 11px;
		background-color: #fff5f7;
	}

	&__dash {
		width: calc(100% / 8);
		height: 7px;

		border-radius: 11px;
		background-color: #2ce06a;

		&_type_fail {
			background-color: #ff3f35;
		}

		& + & {
			margin-left: 1px;
		}
	}
}
